.quad-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.section {
  flex: 1;
  background-size: cover;
  background-position: center;
  transition: opacity 0.4s ease, filter 0.4s ease;
  cursor: pointer;

  opacity: 0.5;
  filter: brightness(0.5);

  position: relative;
}

.section:hover {
  opacity: 1; /* Full opacity on hover */
  filter: brightness(1); /* Full brightness on hover */
}

/* .quad-container:hover .section {
    opacity: 0.3; 
}

.quad-container:hover .section:hover {
    opacity: 1;
} */

.section-1 {
  background-image: url("/sticky-cards/image-1.jpg");
}

.section-2 {
  background-image: url("/sticky-cards/image-2.jpg");
}

.section-3 {
  background-image: url("/sticky-cards/image-3.jpeg");
}

.section-4 {
  background-image: url("/sticky-cards/image-4.jpg");
}

@media (max-width: 767px) {
  .quad-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;

    gap: 5px;
  }

  .section {
    flex: none;
    width: auto;
    height: auto;

    opacity: 0.5;
    filter: brightness(0.5);
  }

  .section:hover {
    opacity: 1;
    filter: brightness(1);
  }
}
