.sticky-cards {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
}

.sc {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--fg);
  color: var(--bg);
  padding: 1.5rem;
  display: flex;
  gap: 3rem;
  will-change: transform;
}

.sc::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: var(--after-opacity, 0);
  transition: opacity 0.1s ease;
  pointer-events: none;
  z-index: 2;
}

/* Left part */
.sc-left {
  flex: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Right part */
.sc-content {
  flex: 4;
  padding-top: 1.5rem;
}

/* Left elements */
.sc-index {
  flex-grow: 0;
}

.sc-header {
  flex-shrink: 0;
  margin-top: auto;
}

/* Right elements */
.sc-content-warpper {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sc-img img {
  aspect-ratio: 5/3;
}

.sc-copy {
  display: flex;
  gap: 1.5rem;
}

.sc-copy-title {
  flex: 2;
}

.sc-copy-title p {
  text-transform: uppercase;
  font-weight: 650;
}

.sc-copy-desc {
  flex: 4;
}

@media (max-width: 1000px) {
  .sc {
    flex-direction: column;
    gap: 0;
  }

  .sc-left {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1.5rem;
  }

  .sc-header {
    margin-top: 0;
  }

  .sc-content-warpper {
    width: 100%;
  }

  .sc-copy {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (max-width: 400px) {
  .sc-left-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 1rem;
  }

  .sc-index {
    width: 100%;
    text-align: center;
  }

  .sc-header {
    text-align: center;
    margin-top: 0.5rem;
    width: auto;
  }
}
